In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import xarray as xr
#import cartopy.crs as ccrs

In [52]:
bio1 = xr.open_dataset("../Multi-site/Raw Data/Phytoplankton1.nc")
bio2 = xr.open_dataset("../Multi-site/Raw Data/Phytoplankton2.nc")
bio3 = xr.open_dataset("../Multi-site/Raw Data/Phytoplankton3.nc")
bio4 = xr.open_dataset("../Multi-site/Raw Data/Phytoplankton4.nc")
bio5 = xr.open_dataset("../Multi-site/Raw Data/Phytoplankton5.nc")
bio6 = xr.open_dataset("../Multi-site/Raw Data/Phytoplankton6.nc")

phys1 = xr.open_dataset("../Multi-site/Raw Data/Salinity1.nc")
phys2 = xr.open_dataset("../Multi-site/Raw Data/Salinity2.nc")
phys3 = xr.open_dataset("../Multi-site/Raw Data/Salinity3.nc")
phys4 = xr.open_dataset("../Multi-site/Raw Data/Salinity4.nc")
phys5 = xr.open_dataset("../Multi-site/Raw Data/Salinity5.nc")
phys6 = xr.open_dataset("../Multi-site/Raw Data/Salinity6.nc")

In [53]:
def get_combo(lat,lon,bio,phys):
    bio_df = bio.sel(latitude=lat,longitude=lon).to_dataframe()
    bio_df.to_csv("Extracted Datasets/temp_bio_data.csv".format(lat,lon))
    bio_df = pd.read_csv("Extracted Datasets/temp_bio_data.csv".format(lat,lon))
    bio_df['time'] = bio_df.time.str.slice(0,7)
    bio_df = bio_df.drop(['depth'],axis=1)
    bio_df.to_csv("Extracted Datasets/temp_bio_data.csv".format(lat,lon), index=False)
    bio_df = pd.read_csv("Extracted Datasets/temp_bio_data.csv".format(lat,lon))

    phy_df = phys.sel(latitude=lat,longitude=lon).to_dataframe().fillna(0)
    phy_df.to_csv("Extracted Datasets/temp_phy_data.csv".format(lat,lon))
    phy_df = pd.read_csv("Extracted Datasets/temp_phy_data.csv".format(lat,lon))
    phy_df['time'] = phy_df.time.str.slice(0,7)
    phy_df = phy_df.drop(['depth'],axis=1)
    phy_df.to_csv("Extracted Datasets/temp_phy_data.csv".format(lat,lon), index=False)
    phy_df = pd.read_csv("Extracted Datasets/temp_phy_data.csv".format(lat,lon))
    
    return pd.merge(bio_df, phy_df, on=['time','latitude','longitude'])

In [54]:
lat1 = list(range(int(bio1.latitude.values.min()), int(bio1.latitude.values.max()) + 1))
lat2 = list(range(int(bio2.latitude.values.min()), int(bio2.latitude.values.max()) + 1))
lat3 = list(range(int(bio3.latitude.values.min()), int(bio3.latitude.values.max()) + 1))
lat4 = list(range(int(bio4.latitude.values.min()), int(bio4.latitude.values.max()) + 1))
lat5 = list(range(int(bio5.latitude.values.min()), int(bio5.latitude.values.max()) + 1))
lat6 = list(range(int(bio6.latitude.values.min()), int(bio6.latitude.values.max()) + 1))

lon1 = list(range(int(bio1.longitude.values.min()), int(bio1.longitude.values.max()) + 1))
lon2 = list(range(int(bio2.longitude.values.min()), int(bio2.longitude.values.max()) + 1))
lon3 = list(range(int(bio3.longitude.values.min()), int(bio3.longitude.values.max()) + 1))
lon4 = list(range(int(bio4.longitude.values.min()), int(bio4.longitude.values.max()) + 1))
lon5 = list(range(int(bio5.longitude.values.min()), int(bio5.longitude.values.max()) + 1))
lon6 = list(range(int(bio6.longitude.values.min()), int(bio6.longitude.values.max()) + 1))

In [55]:
l = []
m = []
for i in lat2:
    for j in lon2:
        l.append(get_combo(i,j, bio2, phys2))
m.append(pd.concat(l))
l = []
for i in lat3:
    for j in lon3:
        l.append(get_combo(i,j, bio3, phys3))
m.append(pd.concat(l))
l = []
for i in lat4:
    for j in lon4:
        l.append(get_combo(i,j, bio4, phys4))
m.append(pd.concat(l))
l = []
for i in lat5:
    for j in lon5:
        l.append(get_combo(i,j, bio5, phys5))
m.append(pd.concat(l))
l = []
for i in lat6:
    for j in lon6:
        l.append(get_combo(i,j, bio6, phys6))
m.append(pd.concat(l))
l = []
n = []
for i in lat1:
    for j in lon1:
        l.append(get_combo(i,j, bio1, phys1))
n.append(pd.concat(l))

In [56]:
combined_data = pd.concat(m)
loc6_combined = pd.concat(n)

In [57]:
combined_data['year'] = combined_data.time.str.slice(0,4)
combined_data['month'] = combined_data.time.str.slice(5,7)
combined_data.to_csv('Extracted Datasets/Combined_Data1.csv', index=False)


loc6_combined['year'] = loc6_combined.time.str.slice(0,4)
loc6_combined['month'] = loc6_combined.time.str.slice(5,7)
loc6_combined.to_csv('Extracted Datasets/loc1_combined.csv', index=False)

In [58]:
loc6_combined

,time,spco2,o2,chl,latitude,no3,po4,phyc,si,ph,...,usi,sithick,bottomT,vsi,vo,uo,so,zos,year,month
0,2000-01,31.765936,213.97511,0.093244,22.0,0.004902,0.002215,0.993661,3.913857,8.122389,...,0.0,0.0,3.910612,0.0,0.023804,0.027467,35.818050,0.018006,2000,01
1,2000-02,31.911985,215.47520,0.086183,22.0,0.004318,0.002608,1.007598,4.055500,8.121443,...,0.0,0.0,3.905483,0.0,-0.187384,0.064089,35.827206,-0.096438,2000,02
2,2000-03,33.540830,212.93338,0.088064,22.0,0.006213,0.000848,1.284753,4.300098,8.103570,...,0.0,0.0,3.895229,0.0,-0.126347,0.177007,35.885190,-0.102847,2000,03
3,2000-04,35.236195,208.32628,0.088673,22.0,0.005149,0.000352,1.415458,4.893192,8.085176,...,0.0,0.0,3.893765,0.0,0.093997,0.156255,36.095768,-0.211798,2000,04
4,2000-05,37.714030,202.40598,0.089608,22.0,0.004710,0.000139,1.501259,5.088798,8.060551,...,0.0,0.0,3.894497,0.0,0.088504,-0.020753,36.219368,-0.168767,2000,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,2018-08,43.928997,202.10136,0.085400,28.0,5.210111,0.000037,1.468210,10.096681,7.996449,...,0.0,0.0,16.358501,0.0,0.115970,-0.017701,34.997100,0.027161,2018,08
224,2018-09,41.788555,200.41612,0.084770,28.0,2.769781,0.000045,1.419527,6.968598,8.014870,...,0.0,0.0,16.573107,0.0,0.007935,-0.054323,35.210730,0.041200,2018,09
225,2018-10,39.937897,201.17665,0.086712,28.0,0.205642,0.000079,1.201503,4.155323,8.032470,...,0.0,0.0,18.043123,0.0,0.131230,-0.114139,35.906550,0.048524,2018,10
226,2018-11,36.590347,207.68394,0.104712,28.0,0.311255,0.000166,1.044486,4.507610,8.066166,...,0.0,0.0,16.781853,0.0,0.021363,-0.024415,36.315502,-0.000610,2018,11
227,2018-12,33.830936,215.23264,0.237552,28.0,0.102526,0.003839,1.173682,4.142552,8.096370,...,0.0,0.0,16.725456,0.0,0.032960,-0.007324,36.359753,-0.034791,2018,12